/TestGui/nbproject/private/
/TestGui/build/
/Calculadora/nbproject/private/
/Calculadora/build/
/swing/treeset/treesetNetBeans/nbproject/private/
/swing/treeset/treesetNetBeans/build/
/refactorizacion de codigo/refactorizacion netbeans/nbproject/private/
/bases de datos/baseDeDatosContrasennas/target/
