/TestGui/nbproject/private/
/TestGui/build/
/Calculadora/nbproject/private/
/Calculadora/build/
/swing/treeset/treesetNetBeans/nbproject/private/
/swing/treeset/treesetNetBeans/build/
/refactorizacion de codigo/refactorizacion netbeans/nbproject/private/
/bases de datos/baseDeDatosContrasennas/target/
/refactorizacion de codigo/puebaPractica/target/
/bases de datos/PruebaPractica/target/
/bases de datos/basse objeto relacional/Persistencia-de-objetos-Libro-con-JPA-y-MySQL/target/
